body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:'Times New Roman', Times, serif;
  font-weight:10px;
  line-height:1.8em;
  color:black;
}

.pic1, .pic2, .pic3{
  position:relative;
  opacity:0.8;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pic1{
  background-image:url('NY3.jpg');
  min-height:75%;
}

.pic2{
  background-image:url('NY2.jpeg');
  min-height:75%;
}

.pic3{
  background-image:url('NY1.webp');
  min-height:75%;
}

 .pic1 .ptext, .pic2 .ptext, .pic3 .ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:black;
  font-size:50px;
  letter-spacing:8px;
  text-transform:uppercase;
  font-weight:10px;
}

footer p{
  height:100%;
  margin:0px 50px;
  font-size:9px;
  font-family:'Times New Roman', Times, serif;
  font-weight:100px;
  line-height:1em;
  color:rgb(112, 112, 112);
  text-align:center;
  background-color: rgb(29, 29, 29);
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform:uppercase;
}

footer{
  background-color: rgb(29, 29, 29);
}

header p{
  height:100%;
  margin:0;
  font-size:22px;
  font-family:'Times New Roman', Times, serif;
  font-weight:100px;
  line-height:2.8em;
  color:rgb(112, 112, 112);
  text-align:center;
  text-transform:uppercase;
  letter-spacing:8px;
  background-color: rgb(29, 29, 29);
}